.icon {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 10px;
  background: var(--gradient);
  &.atica {
    background: var(--atica);
  }
  &.citica {
    background: var(--citica);
  }
}